
<app-header></app-header>



<div class="container">
  <h1 style="align-items:center ;">Product By Category!!! </h1>
  <div class ="row">
     

  <div *ngFor="let item of data | keyvalue">
    <!--  {{item.key}}:{{item.value.productName}} 
    <br>
    product_ID:{{item.value.productId}}

     product_desc:{{item.value.description}}
    <br>
    year:{{item.value.year}}
    <br>
     increment:{{item.value.incrementPrice}},
    <br>
    <br>
   {{item.value.productImage.productImage}}
  -->
    <div class ="col-md-4">
    
    <img src="assets/images/mob1.jfif" class="img-thumbnail" alt="Mob image" width="170px" height="50px">
   
    <br>
    <h3>{{item.value.productName}} {{item.value.productModel}}, {{item.value.productCategoryName}}</h3>
  
   
    <div class="fa fa-inr" style="font-size:24px">{{item.value.startingBidPrice}}</div>
    <br>
   
   
  <!--
    <img *ngFor="let image of imageData"  src="{{image}}" alt="" id="img">
      

       <img src="{{'data:image/png;base64,' + item.value.productImage[0].productImage}}" /> 
-->
      
       <a [routerLink]="['/product',item.value.productId]">View Product</a><br><br>

   

  </div>
   </div>
  </div>

  <!--
    <br>
    product_category:{{data.productCategoryName}}
    <br>
    product_model:{{data.productModel}}
    <br>
    product_desc:{{data.description}}
    <br>
    year:{{data.year}}
    <br>
    min_bid_price:{{data.startingBidPrice}}
    <br>
    increment:{{data.incrementPrice}}

-->

   
  </div>


 <app-footer></app-footer>   