
<app-header></app-header>


<div class="container">
  <h3 style="align-items:center ;"><u>Showing results for "{{productName}}"!!! </u></h3>
  <br><br>
  <div class ="row">
     

  <div *ngFor="let item of data | keyvalue">
    <div class ="col-md-4">
    
    <img src="assets/images/mob1.jfif" class="img-thumbnail" alt="Mob image" width="170px" height="50px">
   
    <br>
    <h3>{{item.value.productName}} {{item.value.productModel}}, {{item.value.productCategoryName}}</h3>
  
    <div id="timer">
      <span id="days"></span><b>{{item.value.dys}}&nbsp;</b>days
      <span id="hours"></span><b>{{item.value.hrs}}&nbsp;</b>hrs
      <span id="minutes"></span><b>{{item.value.mins}}&nbsp;</b>mins
      <span id="seconds"></span><b>{{item.value.secs}}&nbsp;</b>secs
    </div> 


    <div class="fa fa-inr" style="font-size:24px">{{item.value.startingBidPrice}}</div>
    <br>
   
      
       <a [routerLink]="['/product',item.value.productId]">View Product</a><br><br>

  </div>
   </div>
  </div>
  
  </div>


 <app-footer></app-footer>   