
<app-header></app-header>
<br><br>
<div class="container">

 <!-- 
        <div *ngFor="let item of data | keyvalue">
          {{item.key}}:{{item.value.productName}}
-->
          <br>
        <div *ngIf="data">
          <br>
          product_ID:{{data[0].productId}}
          <br>
          product_Name:{{data[0].productName}}
          <br>
          product_category:{{data[0].productCategoryName}}
          <br>
          product_model:{{data[0].productModel}}
          <br>
          product_desc:{{data[0].productDescription}}
          <br>
          year:{{data[0].productBoughtYear}}
          <br>
          min_bid_price:{{data[0].startingBidPrice}}
          <br>
          increment:{{data[0].incrementPrice}},
          <br><br>
    <!--   <img src="{{'data:image/png;base64,' + data.productImage[0].productImage}}" /> -->
          <br><br><br>
          <button (click)="placed()">Place Bid</button>

        </div>
          
</div>

<app-footer></app-footer>
