<app-header></app-header>

<div class="container">

    <div class="page-header">
        <h1 style="color:red">Hello.. What can we help you with?</h1>
    </div>

    <!-- Bootstrap FAQ - START -->
    <div class="container">
        <br />
        <br />
        <br />
        <br />

        <div class="panel-group" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne">Is account registration required?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Account registration is only required if you will be selling or buying products.
                        This ensures a valid communication channel for all parties involved in any transactions.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTen">How do I search for a product?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        You can search the product in two ways..Either by finding via relevant category or by entering
                        the name of the product.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseEleven">How many times can we bid for the same product?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        You can bid any number of times
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="faqHeader">Sellers</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTwo">Who can sell items?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Any registed user, who presents a item, which is genuine and appealing, can post it on
                        <strong>Wide Bidders</strong>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseThree">I want to sell my items - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        The steps involved in this process are really simple. All you need to do is:
                        <ul>
                            <li>Register an account</li>
                            <li>Login to your account</li>
                            <li>Go to the <strong>SELL</strong> section and enter the details and upload images of that
                                product</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFive">How many images can i upload?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        You need to upload atleast one image and maximum of 5 images are allowed..
                        <br />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseEight">What are the payment options?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        Cash on delivery...
                    </div>
                </div>
            </div>

            <br><br><br>
            <div class="faqHeader">Buyers</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFour">I want to buy a product - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Buying a product on <strong>Wide Bidders</strong> is really simple. There will be specific
                        bidding time period for each product. Person who makes the maximum bid within that time period
                        will get the product.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseSeven">Can I pay advance to seller?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        No. The payment has to be done only after completion of bid...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>