#timer {
    font-family: Arial, sans-serif;
   /* font-size: 20px;  */
    color: rgb(45, 168, 14);
/*    letter-spacing: -1px; */
  }
  #timer span {
/*    font-size: 60px; */
    color: rgb(47, 214, 25);
/*     margin: 0 3px 0 15px; */
  }

  textarea{
    width: 300%;
margin: 10px;
  }