
<app-header></app-header>

<div class="container">
  <h3 style="align-items:center ;"><u>My Products!! </u></h3>
  <br><br>
  <div class ="row">
     
  <div *ngFor="let item of data | keyvalue">
    <div class ="col-md-4">
    
    <img src="assets/images/mob1.jfif" class="img-thumbnail" alt="Mob image" width="170px" height="50px">
   
    <br>
    <h3>{{item.value.productName}} {{item.value.productModel}}, {{item.value.productCategoryName}}</h3>
  
   
    <div id="timer">
        <span id="days"></span><b>{{item.value.dys}}&nbsp;</b>days
        <span id="hours"></span><b>{{item.value.hrs}}&nbsp;</b>hrs
        <span id="minutes"></span><b>{{item.value.mins}}&nbsp;</b>mins
        <span id="seconds"></span><b>{{item.value.secs}}&nbsp;</b>secs
      </div> 
  

    <div class="fa fa-inr" style="font-size:24px">{{item.value.startingBidPrice}}</div>
    <br>
   <br>
   
<a [routerLink]="['/product',item.value.productId]">View</a>&nbsp;&nbsp;&nbsp;

<button data-toggle="modal" style="color:#00AA9E;" data-target="#exampleModal"
                        class="btn btn-link" (click)="update(item.value.productId)">Update</button>
<button style="color:#00AA9E;" class="btn btn-link" (click)="delete(item.value.productId)">Delete</button>
   <br><br><br><br><br>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color :#dde5ed">
                            <h3 class="modal-title" id="exampleModalLabel" style="text-align:center;"><b>Update Details</b></h3>
                           
                        </div>
                        <div class="modal-body">

                            <form #userInfo="ngForm">

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""><i class='fas fa-user-alt'></i></span>
                                    </div><br>
                                    <textarea rows ="5" #firstName="ngModel" [(ngModel)]="updatedDescription"
                                        placeholder="Product Description" name="firstName"><br>
                                    </textarea>
                                </div>


                            </form>

                        </div>
                        <div class="modal-header" style="background-color:#dde5ed">
                            <div class="modal-footer" >
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="link" class="btn btn-primary" data-dismiss="modal" (click)="updateProduct()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          </div>
        </div>
       </div>
   
  </div>


 <app-footer></app-footer>   