<div class="navbar-fixed-top">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">WIDE BIDDERS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span
              class="caret"></span></a>

          <ul class="dropdown-menu">
            <!--categories-->
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="car()"
                class="btn btn-default">Car</button></li>
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="mobile()"
                class="btn btn-default">Mobile</button></li>
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="furniture()"
                class="btn btn-default">Furniture</button></li>
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="fashion()"
                class="btn btn-default">Fashion</button></li>
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="bikes()"
                class="btn btn-default">Bikes</button></li>
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="books()"
                class="btn btn-default">Books</button></li>
            <li><button style="width:150px;border: none;background: none;" type="submit" (click)="electronics()"
                class="btn btn-default">Electronics</button></li>
          </ul>




        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="product_name" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default" (click)="search()">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right" style="margin:0px 40px 0px 0px">
        <li><button class="btn btn-danger navbar-btn" (click)="sell()">Sell</button></li>
      </ul>
      <div *ngIf="!emailId">
        <!--if user has not loggedIn-->
        <ul class="nav navbar-nav navbar-right" style="margin:0px 50px 0px 0px;">
          <li><button class="btn btn-danger navbar-btn glyphicon glyphicon-user" (click)="signup()">SignUp</button></li>
          <li><button class="btn btn-danger navbar-btn glyphicon glyphicon-log-in" (click)="login()">Login</button></li>
        </ul>
      </div>
      <div *ngIf="emailId">
        <!--if the user has logged in-->
        <ul class="nav navbar-nav navbar-right" style="margin:0px 50px 0px 0px;">

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, {{customerName}} <span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/myproduct">My Products</a></li>
              <li><a data-toggle="modal" style="color:#141413;" data-target="#headerModal" class="btn btn-link">Change
                  Passowrd</a></li>

              <li><a (click)="clear()" routerLink="/home"> &nbsp;LogOut</a></li>

            </ul>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</div>
<br><br><br>

<div class="modal fade" id="headerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color :#dde5ed">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align:center;"><b>Change Your Password</b></h3>

      </div>
      <div class="modal-body">

        <form #userInfo="ngForm">

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id=""><i class='fas fa-user-alt'></i></span>
            </div><br>
            <input type="text" size="40" #firstName="ngModel" [(ngModel)]="currentPassword"
              placeholder="Current Passowrd" name="currentPassword"><br><br>
            <input type="text" size="40" #firstName="ngModel" [(ngModel)]="newPassword" placeholder="New Passowrd"
              name="newPassword"><br><br>
            <input type="text" size="40" #firstName="ngModel" [(ngModel)]="confirmPassword"
              placeholder="Confirm Passowrd" name="confirmPassword"><br>
          </div>


        </form>

      </div>
      <div class="modal-header" style="background-color:#dde5ed">
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="link" class="btn btn-primary" data-dismiss="modal" (click)="changePassword()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>
</div>